@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
 
* {
  padding: 0;
  margin: 0;
}
 
.logo {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  color: #71ca2b;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1rem 4rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #71ca2b;
}
.nav-link:active {
  border-bottom: 2px solid #71ca2b;
}
.hero-buttons {
  display: flex;
  gap: 1rem;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
}
.colored-btn {
  background-color: #71ca2b;
  border: none;
}
.bordered-btn {
  border: 1px solid #ffffff;
  background-color: transparent;
}
.flex-container {
  display: flex;
  gap: 2rem;
}
.centered-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.half-width {
  width: 50%;
}
.full-image {
  object-fit: cover;
  width: 100%;
}
.colored-text {
  color: #71ca2b;
}
.hero-intro {
  width: fit-content;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  font-size: 2rem;
  background-color: rgba(114, 203, 44, 0.2);
}
.hero-title {
  font-size: 5rem;
  color: white;
}
.subtitle {
  font-size: 2rem;
}
.note {
  font-size: 1.5rem;
  color: #5c555f;
}
.language-icons {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
.even-section {
  background-color: #071207;
}

.projects{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.project-card{
  width: 300px;
  background-color: rgba(114, 203, 44, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.project-card img{
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  position: relative;
}
.project-card-content{
  padding: 1rem;
    display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-image {
  width: 100px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px,1fr));
  gap: 2rem;
  width: 100%;
}

nav {
  list-style: none;
  display: flex;
  gap: 2rem;
}
a {
  text-decoration: none;
  color: white;
}
body {
  background-color: #000000;
  color: white;
  font-family: "Roboto", sans-serif;
}
section {
  padding: 1rem 4rem;
  min-height: 80vh;
}

footer {
  padding: 1rem 4rem;
 display: flex;
  flex-direction: column;
  justify-content: space-between;
}


